/* Estilo para el listado */
#file-list {
    display: grid;
    gap: 10px; /* Espaciado entre elementos */
    margin-top: 10px;
}

/* 1 columna para pantallas pequeñas */
@media (max-width: 600px) {
    #file-list {
        grid-template-columns: 1fr;
    }
}

/* 2 columnas para pantallas medianas */
@media (min-width: 601px) and (max-width: 1000px) {
    #file-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 3 columnas para pantallas grandes */
@media (min-width: 1001px) {
    #file-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Estilo para el ícono de filtrado */
.input-group-text {
    background-color: transparent;
    border-right: none;
    cursor: pointer;
}
